# Exclude all 'real' configuration files with sensitive data but keep folder
# samples of whats actually required in secret can be found in samples minus any compromising data

# Ignore everything in this folder
*

# Ignore any sub folders
*/

# Keep this .gitignore file which also keeps the secret directory as it has some content
!.gitignore
